body {
  margin: 0;
}
#head {
  width: 600px;
  margin: 0 auto;
  height: 50px;
  background: blue;
}
#content {
  width: 600px;
  margin: 0 auto;
  height: 2000px;
  background: red;
}
#footer {
  width: 600px;
  margin: 0 auto;
  background: yellow;
  height: 200px;
}

.custom_any {
  background-color: #DCDBD0;
  left: 50%;
  margin-left: 300px;
  bottom: 200px;
  width: 20px;
  height: 80px;
  text-decoration: none;
}
.custom_any_right {
  margin-left: -320px;
  height: 110px;
}
.custom_any span {
  overflow: hidden;
  display: block;
  padding: 10px 3px;
  font-size: 14px;
  line-height: 14px;
}
