/*  */
body {
  margin: 0;
}

#content {
  margin: 0 auto;
  font-size: 40px;
  width: 41px;
}
.tip {
  font-size: 50px;
  color: red;
  position: fixed;
  top: 0px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.up_any {
  color: blue;
  display: none;
  position: fixed;
  font-size: 30px;
  z-index: 999;
  border: 0;
  bottom: 20px;
  right: 20px;
}

.up_any_show {
  display: block;
}

.custom_bottom_middle {
  right: 50%;
}
