body {
  margin: 0;
}
#head {
  width: 600px;
  margin: 0 auto;
  height: 50px;
  background: blue;
}
#content {
  width: 600px;
  margin: 0 auto;
  height: 2000px;
  background: red;
}
#footer {
  width: 600px;
  margin: 0 auto;
  background: yellow;
  height: 200px;
}

.custom_any {
  font-size: 40px;
  left: 50%;
  margin-left: 300px;
  bottom: 240px;
  height: 0;
}
